body {
background: #f5f5f5;
font-family: Arial, sans-serif;
}


.container {
width: 320px;
background: white;
margin: 100px auto;
padding: 25px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
text-align: center;
}


h2 {
margin-bottom: 20px;
}


label {
display: block;
text-align: left;
margin-top: 15px;
font-weight: bold;
}


input, select {
width: 100%;
padding: 8px;
margin-top: 5px;
border-radius: 5px;
border: 1px solid #ccc;
}


button {
width: 100%;
margin-top: 20px;
padding: 10px;
background: green;
color: white;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}


button:hover {
background: darkred;
}


#result {
margin-top: 20px;
font-weight: bold;
}